<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<p>Bienvenue dans la création d'utilisateurs ! </p>


<!--#######################HTML###########################################-->
<!--
<body>
  <form method="post">
    Username:<br>
    <input type="text" name="username"><br>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<br>
  Email:<br>
  <input type="text" name="email"><br>

  <br>

    <p> <label for ="bio"> Ecrire votre bioligraphie</label><br>
    <textarea name="bio" id="decrire"> </textarea>

<br>
  <input type="submit" value ="Envoyer">
</form>
</body>
-->
<!--#######################FORM_TAG###########################################-->
<body>
  <%= form_tag url_for(action: 'create'), method: "post" do %>
  <%= label_tag "Username"%>
  <%= text_field_tag :username%>
  <br>
  <br>
  <%=label_tag "Email" %>
  <%= email_field_tag :email%>
  <br>
  <br>
  <%=label_tag "Bio" %>
  <%=text_field_tag :bio%>
  <br>
  <br>
  <%= submit_tag "Create" %>
  <% end %>
</body>

  <!--#######################FORM_FOR###########################################-->





</html>
