<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<h1>Bienvenue dans la création d'utilisateurs ! </h1>


<!--#######################HTML###########################################-->

<body>
<form method="post">
Username:<br>
<input type="text" name="username" placeholder="Fraçois Pignon"><br>
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<br>
Email:<br>
<input type="text" name="email" placeholder="françois.pignon@gmail.com"><br>

<br>

<p> <label for ="bio"> Ecrire votre bioligraphie</label><br>
<textarea name="bio" id="decrire"  placeholder="300 mots"> </textarea>

<br>
<input type="submit" value ="Envoyer">
<button type="submit" class="btn btn-primary">Sign in</button>
</form>
</body>

<!--#######################FORM_TAG###########################################-->
<!--
<body>
<%= form_tag url_for(action: 'create'), method: "post" do %>
<%= label_tag "Username"%>
<%= text_field_tag :username%>
<br>
<br>
<%=label_tag "Email" %>
<%= email_field_tag :email%>
<br>
<br>
<%=label_tag "Bio" %>
<%=text_field_tag :bio%>
<br>
<br>
<%= submit_tag "Create" %>
<% end %>
</body>
-->
<!--#######################FORM_FOR###########################################-->
<!--
<body>
  <%= form_for :users, method: "post" do |f| %>
  Username: <%= f.text_field :username %>
  <br />
  Email : <%= f.email_field :email %>
  <br />
  Bio : <%= f.text_area :bio %>
  <br />
  <%= f.submit "Create User" %>
  <% end %>
</body>

-->
</html>
